<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% stylesheets
        'bundles/g5home/css/bootstrap.min.css'
        'bundles/g5home/css/bootstrap-theme.min.css'
        'bundles/g5home/css/jquery-ui/jquery-ui-1.10.3.custom.min.css'
        'bundles/g5home/css/global.css'
        filter="cssrewrite"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
        '@g5HomeBundle/Resources/public/js/bootstrap.min.js'
        '@g5HomeBundle/Resources/public/js/jquery-ui-1.10.3.custom.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;
        }
    </style>

    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include '::nav.html.twig' %}
<div class="container">
    {% include '::flash.html.twig' %}
    {% block body %}{% endblock %}
    <div id="loadingInfo" style="display: none;">
        <img src="{{ asset('bundles/g5home/img/ajax-loader.gif') }}" alt="Loading...">
    </div>
    {% include '::footer.html.twig' %}
</div>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% javascripts '@g5HomeBundle/Resources/public/js/global.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
