{# /src/g5/MovieBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
{% for movie in movies %}
    {% if (loop.index % 2) == 1 %}
        <div class="row">
    {% endif %}
    <div class="span6">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ imgUrl }}{{ movie.getBackdropPath }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ movie.getName }}</h4>
                <div>Release: {{ movie.getRelease | date('Y') }}</div>
                <div>Label: {{ movie.getLabel[0].getName }}</div>
                <br />
                {{ movie.getOverview }}
            </div>
        </div>
    </div>
    {% if (loop.index % 2) == 0 %}   
        </div><br />
    {% endif %}
{% endfor %}
<div class="pagination offset4 span4">
    <ul>
        <li {% if current == 1 %}class="disabled"{% endif %}><a href="{{ path('_movie_profile', {'page': current - 1}) }}">Prev</a></li>
        <li {% if current == 1 %}class="disabled"{% endif %}><a href="{{ path('_movie_profile') }}">1</a></li>
        <li {% if current == mid %}class="disabled"{% endif %}><a href="{{ path('_movie_profile', {'page': mid}) }}">{{ mid }}</a></li>
        <li {% if current == max %}class="disabled"{% endif %}><a href="{{ path('_movie_profile', {'page': max}) }}">{{ max }}</a></li>
        {% if next %}
            <li><a href="{{ path('_movie_profile', {'page': current + 1}) }}">Next</a></li>
        {% else %}
            <li class="disabled"><a class="disabled" href="{{ path('_movie_profile', {'page': current }) }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% endblock body %}
