{# /src/g5/MovieBundle/Resources/views/Default/searchResult.html.twig #}
{% for movie in movies %}
<div class="media" id="movie{{ loop.index }}" style="display: none;">
    <a class="pull-left" href="#">
        <img class="media-object" src="{{ imgUrl}}{{ movie.getBackdropPath }}">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ movie.getName }} </h4>
        <div>Release: {{ movie.getRelease | date('Y') }}</div>
        <!-- Nested media object -->
        <div class="media">{{ movie.getOverview }}</div>
    </div>
</div>
<form id="movieForm{{ loop.index }}" action="{{ path('_movie_save_tmdb') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>
{% endfor %}
<br />
<div class="row">
<a class="btn btn-primary span1" id="prevResult" href="#" onclick="changeResult(movieIndex - 1); return false"><i class="icon-arrow-left icon-white"></i></a>
<a class="btn btn-primary span1 offset3" id="nextResult" href="#" onclick="changeResult(movieIndex + 1); return false"><i class="icon-arrow-right icon-white"></i></a>
</div>
<script type="text/javascript">
    var movieIndex = 1;
    var results = {{ results }}
    var movieRepository = $.parseJSON({{ jsont|json_encode()|raw }});
    $(document).ready(function() {
        $("#movie" + movieIndex).show();
        $("#prevResult").addClass('disabled');
        if (movieIndex == results) {
           $("#nextResult").addClass('disabled');
        }
        $("#addMovieButton").removeClass('disabled');
        $("#addMovieButton").attr('onclick', 'addMovie('+movieIndex+')');
        setMovieFormData(movieIndex);
    });
    
    function setMovieFormData(id)
    {
        var tmdb_id = $("#movieForm"+id).find(("#movie_tmdb_id"));
        tmdb_id.val(movieRepository[(id - 1)].tmdbId);
    }
    
    function changeResult(index) 
    {
        if (index < 1 || index > results) {
            return;
        }
        if (index == 1) {
            $("#prevResult").addClass('disabled');
        } else {
            $("#prevResult").removeClass('disabled');
        }
        
        if (index == results) {
            $("#nextResult").addClass('disabled');
        } else {
            $("#nextResult").removeClass('disabled');
        }
        $("#movie" + movieIndex).hide();
        $("#movie" + index).show();
        movieIndex = index;
        $("#addMovieButton").attr('onclick', 'addMovie('+index+')');
        setMovieFormData(index);
    }
</script>
