{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Token</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td id="token-{{ user.id }}"></td>
                        <td>
                            <button class="btn btn-danger btn-xs">Delete</button>
                            <button class="btn-gen-token btn btn-warning btn-xs" data-user-id="{{ user.id }}">Generate Token</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5AccountBundle/Resources/public/js/admin.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
