{# /src/g5/MovieBundle/Resources/views/Movie/index.html.twig #}
{% extends '::base.html.twig' %}
{% set max = movies|length %}
{% block body %}

{% for movie in movies %}
    {% if loop.index % 2 > 0 %}
        <div class="row-fluid">
    {% endif %}

    <div class="span6">
        {% include 'g5MovieBundle:Movie:movieObject.html.twig' with { "movie": movie, "imgUrl": imgUrl } %}
    </div>

    {% if loop.index % 2 == 0 %}
        </div><br>
    {% endif %}

    {% if max == loop.index and max % 2 > 0 %}
        </div>
    {% endif %}
{% endfor %}

<div class="row-fluid">
    <div class="pagination pagination-centered">
        <ul>
            {% for page in pagination %}
                {% if page.link == null %}
                    <li class="{{ page.state }}"><span>{{ page.name }}</span></li>
                {% else %}
                    <li class="{{ page.state }}"><a href="{{ page.link }}">{{ page.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/label.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
