{% extends '::base.html.twig' %}
{% block body %}
{% set uid = movie.getId() %}
{% if movie.isFavorite() %}
    {% set btnFavoriteClass = "btn-favorite-active" %}
{% else %}
    {% set btnFavoriteClass = "btn-favorite" %}
{% endif %}
<div class="media">
    <button style="display: none;" id="label-trigger-{{ uid }}" data-id="{{ uid }}" class="btn btn-sm pull-right">
        <span class="glyphicon glyphicon-tag"></span>
    </button>
    <img class="media-object pull-left" src="{{ imgUrl_w185 }}{{ movie.getPosterPath() }}" alt="...">
    <div class="media-body">
        <h4 class="media-heading">
            {{ movie.getTitle() }} <span class="text-muted">({{ movie.getReleaseDate()|date('Y') }})</span>
            <button id="favorite-trigger-{{ uid }}" data-id="{{ uid }}" class="btn btn-xs {{ btnFavoriteClass }}">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        </h4>
        <strong>overview</strong><br>
        {{ movie.getOverview() }}
        <br>
        <br>
        <div id="label-form-{{ uid }}" style="display: none;"></div>
        <div id="label-box-{{ uid }}">
            {% for label in movie.getLabels() %}
                {% include 'g5MovieBundle:Label:label.html.twig' with {label: label, movieId: uid} %}
            {% endfor %}
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-2 col-md-3"></div>
            <div class="col-xs-8 col-md-6">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ imgUrl_w780 }}{{ movie.getBackdropPath() }}" alt="...">
                            <div class="carousel-caption"></div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/label.js'
        '@g5MovieBundle/Resources/public/js/movie.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
