{# /src/g5/MovieBundle/Resources/views/Movie/index.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}

{% include 'g5MovieBundle:helper:movieGrid.html.twig' with { "movies": movies, "imgUrl": imgUrl } %}

<div class="row-fluid">
    <div class="pagination pagination-centered">
        <ul>
            {% for page in pagination %}
                {% if page.link == null %}
                    <li class="{{ page.state }}"><span>{{ page.name }}</span></li>
                {% else %}
                    <li class="{{ page.state }}"><a href="{{ page.link }}">{{ page.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/label.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
