{# /src/g5/MovieBundle/Resources/views/Movie/search.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}
<div class="row-fluid">
    <div class="span5">
        <form id="formSearch" class="form-inline" action="{{ path('g5_movie_search') }}" method="post">
            {{ form_errors(form) }}
            {{ form_widget(form.search) }}
            {{ form_rest(form) }}
            <button id="btnSearch" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

{% for result in results %}
    <div class="media">
        {% if result.poster_path %}
            <img class="media-object pull-left" src="{{ imgUrl }}{{ result.poster_path }}">
        {% endif %}
        <div class="media-body">
            <h4 class="media-heading">{{ result.original_title }}</h4>
            Release: {{ result.release_date }}<br>
            <p data-overview="{{ result.id }}"></p>
            <button data-loading="btnMore" class="btn btn-primary btn-small" data-tmdbId="{{ result.id }}">
                More...
            </button>
            <a class="btn btn-primary btn-small" href="{{ path('g5_movie_add', {'tmdbId': result.id} ) }}">
                <i class="icon-plus icon-white"></i> Add Movie
            </a>
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@g5MovieBundle/Resources/public/js/search.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
