{% if movies|length == 0 %}
    No movies where found under this title.
{% else %}
    {% for movie in movies %}
        <div class="media">
            {% if movie.poster_path != null %}
                <img class="pull-left media-object" src="{{ movie.poster_path|img_poster_w185 }}">
            {% endif %}
            <div class="media-body">
                <h4 class="media-heading">{{ movie.original_title }}</h4>
                <div>
                    <button class="btn btn-sm btnAdd" data-tmdbId="{{ movie.id }}">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button class="btn btn-sm btnMore" data-tmdbId="{{ movie.id }}">
                        <span class="glyphicon glyphicon-download"></span> More
                    </button>
                </div>
                <br>
                Release: {{ movie.release_date|date("Y") }}<br>
                Tmdb-ID: {{ movie.id }}<br><br>
                <div id="overview{{ movie.id }}"></div>
            </div>
        </div>
    {% endfor %}
{% endif %}
