{# src/g5/AccountBundle/Resources/views/Registration/index.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Account Registration{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span4 offset3">
        <!-- Backend Unique error view -->
        {% set email_error = false %}
        {% set username_error = false %}
        {% if errors %}
            {% for error in errors %}
                {% if error.propertyPath == 'username' %}
                    {% set username_error = true %}
                {% elseif error.propertyPath == 'email' %}
                    {% set email_error = true %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <form class="form-horizontal" action="{{ path('g5_account_create')}}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form.user.password) }}
            <div class="control-group {{ (username_error) ? 'error' : '' }}">
                <label for="username" class="control-label">{{ form_label(form.user.username) }}</label>
                <div class="controls">{{ form_widget(form.user.username, { 'attr': {'placeholder': 'Username'} }) }}</div>
            </div>
            <div class="control-group {{ (email_error) ? 'error' : '' }}">
                <label for="email" class="control-label">{{ form_label(form.user.email) }}</label>
                <div class="controls">{{ form_widget(form.user.email, { 'attr': {'placeholder': 'Email'} }) }}</div>
            </div>
            <div class="control-group">
                <label for="password" class="control-label">{{ form_label(form.user.password) }}</label>
                <div class="controls">{{ form_widget(form.user.password) }}</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        {{ form_widget(form.terms) }} Accept my terms.
                    </label>
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>
{% endblock %}
