{% set uid = movie.getId() %}
{% if movie.isFavorite() %}
    {% set btnFavoriteClass = "btn-favorite-active" %}
{% else %}
    {% set btnFavoriteClass = "btn-favorite" %}
{% endif %}

<div class="media margin-bottom-sd">
    <button id="label-trigger-{{ uid }}" data-movieid="{{ uid }}" class="btnLabelAdd btn btn-sm pull-right" >
        <span class="glyphicon glyphicon-tag"></span>
    </button>
    <a class="pull-left" href="#">
        <img class="media-object movie-img-md" src="{{ movie.posterPath|img_poster_w185 }}">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            {{ movie.title }} <span class="text-muted">({{ movie.releaseDate|date('Y') }})</span>
            <button id="favorite-trigger-{{ uid }}" data-id="{{ uid }}" class="btn btn-xs {{ btnFavoriteClass }}">
                <span class="glyphicon glyphicon-star"></span>
            </button>
        </h4>
        <div id="label-form-{{ uid }}" style="display: none;"></div>
        <div id="label-box-{{ uid }}" class="label-box" data-movieid="{{ uid }}">
            {# {% for label in movie.getLabels() %}
                {% include 'g5MovieBundle:Label:label.html.twig' with { 'label': label } %}
            {% endfor %} #}
        </div>
        <br>
        {{ movie.getOverview() }}
    </div>
</div>
