{% set uid = movie.getId() %}
<div class="media movie">
    <button style="display: none;" id="label-trigger-{{ uid }}" data-id="{{ uid }}" class="btn btn-sm pull-right">
        <span class="glyphicon glyphicon-tag"></span>
    </button>
    <img class="pull-left media-object" src="{{ imgUrl }}{{ movie.getPosterPath() }}">
    <div class="media-body">
        <h4 class="media-heading">{{ movie.getTitle() }}</h4>
        <div id="label-form-{{ uid }}" style="display: none;"></div>
        <div id="label-box-{{ uid }}">
            {% for label in movie.getLabels() %}
                {% include 'g5MovieBundle:Label:label.html.twig' with { label: label, movieId: movie.getId() } %}
            {% endfor %}
        </div>
        <br>
        {{ movie.getOverview() }}
    </div>
</div>
