{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="row">
    <!-- <div class="col-md-2"></div> -->
    <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for movie in randomMovies %}
                {% set class_active = loop.index0 == 0 ? "class=active" : "" %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" {{ class_active }}></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for movie in randomMovies %}
                {% set active = loop.index0 == 0 ? "active" : "" %}

                <div class="item {{ active }}">
                    <img src="{{ imgUrl_w1280 }}{{ movie.getBackdropPath() }}">
                    <div class="carousel-caption">{{ movie.getTitle() }}</div>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Top Labels</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% for label in labels %}
                        <div class="pull-left margin-bottom-xs">
                            {% include 'g5MovieBundle:Label:label.html.twig' with { label: label, Control: false, counter: true } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Movies</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% for movie in latestMovies %}
                        <div class="col-xs-2 col-md-2">
                            <a href="{{ path('g5_movie_index', { id: movie.getId() }) }}" class="thumbnail movie-thumbnail-sm">
                                <img src="{{ imgUrl_w92 }}{{ movie.getPosterPath() }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
